@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #333;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 6px;
  }
  ::selection {
    color: #ffffff;
    background: #f15a29;
  }
}
